{% extends "layout.html" %}

{% block title %}
    Volunteer: Task
{% endblock %}

{% block main %}
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="row">
				<div class="col-md-12">
					<div class="card">
						<img class="card-img-top" alt="Bootstrap Thumbnail First" src="{{ url_for('static', filename='logo.png')}}" />
						<div class="card-block">
							<h5 class="card-title">
								{{ task.name }}
							</h5>
							<p class="card-text">
                                {{ task.description }}
							</p>
							<p>
								{% if is_not_added %}
								<form id="add-task" action="/tasks/{{ task.id }}" method="post">
                                    <!--  a button to add the task to profile-->
                                    <button type="button" class="btn btn-primary" name="add_task" value="add_task" onclick="addTask()">Add to profile</button>
                                </form>
								{% else %}
								<form id="mark-completed" action="/tasks/{{ task.id }}/completed" method="post">
									<!--  a button to mark the task as completed-->
									<button type="submit" class="btn btn-primary" name="mark_completed" value="mark_completed">Mark as completed</button>
								</form>
								{% endif %}
                                <p>{{ task.points }}</p>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block javascript %}
<script>
	function addTask() {
		document.getElementById("add-task").submit();
	}
</script>
{% endblock %}
